TempUDPBroadcastCapture/Service References/TempServiceReference1Azure/TempService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TempService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ITempService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://tempmeasure.azurewebsites.net/TempService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://tempmeasure.azurewebsites.net/TempService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://tempmeasure.azurewebsites.net/TempService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempModtagerBroadcast" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITempService_PostTempToDB_InputMessage">
    <wsdl:part name="parameters" element="tns:PostTempToDB" />
  </wsdl:message>
  <wsdl:message name="ITempService_PostTempToDB_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostTempToDBResponse" />
  </wsdl:message>
  <wsdl:message name="ITempService_GetAllTemp_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTemp" />
  </wsdl:message>
  <wsdl:message name="ITempService_GetAllTemp_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTempResponse" />
  </wsdl:message>
  <wsdl:portType name="ITempService">
    <wsdl:operation name="PostTempToDB">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempService/PostTempToDB" message="tns:ITempService_PostTempToDB_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempService/PostTempToDBResponse" message="tns:ITempService_PostTempToDB_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTemp">
      <wsdl:input wsaw:Action="http://tempuri.org/ITempService/GetAllTemp" message="tns:ITempService_GetAllTemp_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITempService/GetAllTempResponse" message="tns:ITempService_GetAllTemp_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITempService" type="tns:ITempService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTempToDB">
      <soap:operation soapAction="http://tempuri.org/ITempService/PostTempToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTemp">
      <soap:operation soapAction="http://tempuri.org/ITempService/GetAllTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ITempService" type="tns:ITempService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ITempService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostTempToDB">
      <soap:operation soapAction="http://tempuri.org/ITempService/PostTempToDB" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTemp">
      <soap:operation soapAction="http://tempuri.org/ITempService/GetAllTemp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TempService">
    <wsdl:port name="BasicHttpBinding_ITempService" binding="tns:BasicHttpBinding_ITempService">
      <soap:address location="http://tempmeasure.azurewebsites.net/TempService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ITempService" binding="tns:BasicHttpsBinding_ITempService">
      <soap:address location="https://tempmeasure.azurewebsites.net/TempService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>