TempUDPBroadcastCapture/Service References/TempServiceReference1Azure/TempService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://tempmeasure.azurewebsites.net/TempService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TempModtagerBroadcast" />
  <xs:element name="PostTempToDB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="temp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostTempToDBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PostTempToDBResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTemp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTempResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TempModtagerBroadcast" minOccurs="0" name="GetAllTempResult" nillable="true" type="q1:ArrayOfTemp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>